@import './partials/variables.css';
@import './partials/default.css';
@import './partials/header.css';
@import './partials/recipeCard.css';

h1 {
    margin: 20px auto;
    margin-top: 80px;
    text-align: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

/* Medium (tablet) screens */
@media screen and (max-width: 1000px) {

}

/* Small (phone) screens */
@media screen and (max-width: 700px) {
    h2 {
        font-size: 1.1rem;
    }
}
