@import './partials/variables.css';
@import './partials/default.css';
@import './partials/header.css';

/* Temporary styling for palette */
.palette {
    display: flex;
    width: 80%;
    height: 400px;
    margin: 0 auto;
}

.palette > div {
    width: 200px;
}
