@import './partials/variables.css';
@import './partials/default.css';
@import './partials/header.css';


body {
    margin: 0;
    padding: 0;
}


.content {
    display: flex;
    flex-direction: column;
    gap: 0; 
    margin: 0; 
    padding: 0 30px; 
}

.hero {
    width: 100%;
    margin: 0 0 40px 0; 
}

.hero img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    display: block;
}


.intro {
    padding: 30px;
    margin-bottom: 50px; 
}


.image-container {
    display: flex;
    justify-content: space-evenly;
    gap: 40px; 
    margin-bottom: 50px;
}

.image-card {
    flex: 1;
    max-width: 500px;
}

.image-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 18px;
}


.signup {
    background-color: transparent; 
    display: flex;
    justify-content: flex-start; 
    margin-bottom: 50px;
}


.signup form {
    background-color: var(--green);
    padding: 25px 30px;
    border-radius: 12px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-left: 20px; 
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.signup form h2 {
    margin: 0;
    font-size: 1.8rem;
    color: white;
}

.signup form p {
    margin: 0;
    font-size: 1rem;
    color: white;
}


.signup input {
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.signup button {
    padding: 8px 16px;
    font-size: 0.9rem;
    border-radius: 14px;
    background-color: var(--orange);
    border: none;
    color: white;
    cursor: pointer;
}

.signup button:hover {
    background-color: var(--red);
}


section {
    margin: 80px 0;
}

/* Mobile version */
@media screen and (max-width: 700px) {
    .image-container {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .image-card {
        max-width: 100%;
    }

    .hero img {
        height: 45vh;
    }

    .signup {
        justify-content: center; 
    }

    .signup form {
        margin-left: 0;
        max-width: 90%; 
    }
}
