@import './partials/variables.css';
@import './partials/default.css';

body {
    background-color: var(--light_hover);
}

main {
    margin: 0 auto;
    max-width: 1200px;
    width: 80%;
    background-color: white;
    padding: 80px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}

header {
    margin: 40px;
}

header a {
    color: black;
    text-transform: uppercase;
    font-weight: 700;
}

a {
    color: var(--dark-red);
}

a:hover {
    text-decoration: underline;
}

.title-info {
    display: flex;
    justify-content: space-between;
}

hr {
    border: 1px solid var(--dark-red);
    margin: 10px 0;
}

img {
    display: block;
    margin: 30px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    max-height: 600px;
}

.prep-info {
    display: flex;
    border: 1px solid lightgray;
    border-radius: 10px;
    /* max-width: 600px; */
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.prep-info > section {
    flex: 1;
    text-align: center;
    padding: 8px 0;
}

.prep-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.65rem;
    color: #7d7171;
}

.prep {
    border-right: 1px solid lightgray;
}
.prep:last-of-type {
    border-right: none;
}

.recipe-name {
    text-transform: capitalize;
    margin-top: 20px;
}

.recipe-name:first-of-type {
    margin-top: 0;
}

.ingredients, .steps {
    padding: 20px 40px;
}

li {
    margin-bottom: 8px;
}

/* Medium (tablet) screens */
@media screen and (max-width: 1000px) {
    main {
        width: auto;
        max-width: auto;
        margin: 0;
    }

    .title-info {
        flex-direction: column;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

/* Small (phone) screens */
@media screen and (max-width: 700px) {
    header {
        margin: 20px;
    }

    header a {
        font-size: 0.8rem;
    }

    .title-info > h1 {
        font-size: 1.8rem;
        text-align: center;
    }

    .title-info > h2 {
        font-size: 1rem;
        text-align: center;
        margin-top: 10px;
    }

    main {
        padding: 18px;
    }

    .prep-info {
        flex-direction: column;
    }

    .prep {
        border-bottom: 1px solid lightgray;
        border-right: none;
        width: 85%;
    }
    .prep:last-of-type {
        border-bottom: none;
    }
    
    .ingredients, .steps {
        padding: 5px;
    }
    li {
        font-size: 0.9rem;
    }
}
