header {
    background-color: var(--light);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    padding: 25px;
}

#logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#logo > img {
    aspect-ratio: 1 / 1;
    width: 80%;
    border-radius: 50%;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    margin: 20px 0;
}

/* Medium (tablet) screens */
@media screen and (max-width: 1000px) {
    header {
        width: 18%;
    }
}

/* Small (phone) screens */
@media screen and (max-width: 700px) {
    header {
        height: auto;
        width: auto;
        margin: 0;
        position: sticky;
        left: auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    
    #logo {
        width: 120px;
    }

    nav > a {
        width: 50%;
        margin: 0 auto;
    }
}
