:root {
    /* Palette found on https://color.adobe.com */
    --green: #8C7C2B;
    --light: #D9C5A0;
    --orange: #F2780C;
    --red: #D92D07;
    --dark-red: #8C0707;

    --green_hover: #beac54;
    --light_hover: #efdfc3;
    --orange_hover: #f79f53;
    --red_hover: #f56140;
    --dark-red_hover: #d74a4a;
}
